%ul
  %li= link_to "Books", '/'
  %li= link_to "Sell&Buy", '/'
  %li= link_to "TakeNote", '/'
  %li= link_to "Curriculum", '/'
  %li= link_to "Books", '/'
  %li= link_to "Sell&Buy", '/'
  %li= link_to "TakeNote", '/'
  %li= link_to "Curriculum", '/'
