%ul
  %li
    .bg{ style: "background-color: #009688;" }
    = link_to "Books", '/'
  %li
    .bg{ style: "background-color: #EF6C00;" }
    = link_to "Sell&Buy", '/'
  %li
    .bg{ style: "background-color: #795548;" }
    = link_to "TakeNote", '/'
  %li
    .bg{ style: "background-color: #E53935;" }
    = link_to "Curriculum", '/'
  %li
    .bg{ style: "background-color: #009688;" }
    = link_to "Books", '/'
  %li
    .bg{ style: "background-color: #EF6C00;" }
    = link_to "Sell&Buy", '/'
  %li
    .bg{ style: "background-color: #795548;" }
    = link_to "TakeNote", '/'
  %li
    .bg{ style: "background-color: #E53935;" }
    = link_to "Curriculum", '/'

  %li
    .bg{ style: "background-color: #009688;" }
    = link_to "Books", '/'
  %li
    .bg{ style: "background-color: #EF6C00;" }
    = link_to "Sell&Buy", '/'
  %li
    .bg{ style: "background-color: #795548;" }
    = link_to "TakeNote", '/'
  %li
    .bg{ style: "background-color: #E53935;" }
    = link_to "Curriculum", '/'
  %li
    .bg{ style: "background-color: #009688;" }
    = link_to "Books", '/'
  %li
    .bg{ style: "background-color: #EF6C00;" }
    = link_to "Sell&Buy", '/'
  %li
    .bg{ style: "background-color: #795548;" }
    = link_to "TakeNote", '/'
  %li
    .bg{ style: "background-color: #E53935;" }
    = link_to "Curriculum", '/'

  %li
    .bg{ style: "background-color: #009688;" }
    = link_to "Books", '/'
  %li
    .bg{ style: "background-color: #EF6C00;" }
    = link_to "Sell&Buy", '/'
  %li
    .bg{ style: "background-color: #795548;" }
    = link_to "TakeNote", '/'
  %li
    .bg{ style: "background-color: #E53935;" }
    = link_to "Curriculum", '/'
  %li
    .bg{ style: "background-color: #009688;" }
    = link_to "Books", '/'
  %li
    .bg{ style: "background-color: #EF6C00;" }
    = link_to "Sell&Buy", '/'
  %li
    .bg{ style: "background-color: #795548;" }
    = link_to "TakeNote", '/'
  %li
    .bg{ style: "background-color: #E53935;" }
    = link_to "Curriculum", '/'
